<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/head") %>
</head>

<body class="container">

    <header>
        <%- include ("../partials/head") %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Twitter Clone API</h1>
            <p>This API mimics some twitter like features</p>
            <p> <a href="https://documenter.getpostman.com/view/9048286/SzYbzHbW?version=latest"> Twitter clone api documentation can be found here </a> </p>
        </div>
    </main>

    <footer>

    </footer>

</body>

</html>